<p>
    Ingesar Artista
</p>

<form action="" method="post" enctype="multipart/form-data">
    <div>
        <label for="">nombre</label>
        <input type="text" name="nombre">
    </div>
    <div>
        <label for="">apellido</label>
        <input type="text" name="apellido">
    </div>
    <!-- <div>
        <label for="">imagen</label>
        <input type="file" name="imagen">
    </div> -->
    <div>
        <input type="submit" value="Enviar">
    </div>
</form>