<p>
    Ingesar Cancion
</p>

<form action="" method="post" enctype="multipart/form-data">
    <div>
        <label for="">Titulo</label>
        <input type="text" name="titulo">
    </div>
    <div>
        <label for="">Duracion</label>
        <input type="text" name="duracion">
    </div>
    <div>
        <label for="">Creado</label>
        <input type="text" name="created_at">
    </div>
    <div>
        <label for="">Actualizado</label>
        <input type="text" name="actualizado">
    </div>
    <div>
        <label for="">Genero</label>
        <input type="text" name="genero_id">
    </div>
    <div>
        <label for="">Album</label>
        <input type="text" name="album_id">
    </div>
    <div>
        <label for="">Artista</label>
        <input type="text" name="artista_id">
    </div>
    <!-- <div>
        <label for="">imagen</label>
        <input type="file" name="imagen">
    </div> -->
    <div>
        <input type="submit" value="Enviar">
    </div>
</form>