<p>
    Ingesar Genero
</p>

<form action="" method="post" enctype="multipart/form-data">
    <div>
        <label for="">nombre</label>
        <input type="text" name="name"> 
    </div>
    <div>
        <input type="submit" value="Enviar">
    </div>
</form>