<!DOCTYPE html>
<html lang="es">
    <%- include('./partial/head') %>
<body>
    <%- include('./partial/header') %>
    <%- include('./partial/main') %>

    <article class="reg-menu">
        <div>
            <a href="/regAlbum">Artistas</a>
        </div>
        <div>
            <a href="/regArtista">Canciones</a>
        </div>
        <div>
            <a href="/regCancion">Albumes</a>
        </div>
        <div>
            <a href="/regGenero">Generos</a>
        </div>
    </article>

</body>
</html>