

<article class="main-menu">
    <div>
        <a href="../artistas">Artistas</a>
    </div>
    <div>
        <a href="../canciones">Canciones</a>
    </div>
    <div>
        <a href="../albumes">Albumes</a>
    </div>
    <div>
        <a href="../generos">Generos</a>
    </div>
</article>